.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
}

.link {
  font-weight: 500;
  color: #3434f5;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

table tbody tr td {
  text-align: center;
}

table tbody tr td:not(:first-child) {
  text-align: right;
}